* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: #5a5776;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.topnav {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #aba6bf;
}

.topnav a {
  float: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color:#5a5776;
}

.topnav a:hover {
  background-color: #5a5776;
  color:white;
}

article {
  width: 100%;
  background-color:#f1e0d6;
  border-style: solid;
  padding: 15px;
  color:#bf988f;
}

.col-container {
  display: table;
  width: 100%;
  background-color:#f1e0d6;
}

.col {
  display: table-cell;
  padding: 15px;
  border-style: outset;
  color:#bf988f;
}

footer {
  background-color: #583e2e;
  padding: 10px;
  text-align: center;
  color: white;
  border-style: solid;
}

footer a{
color: white;
}